:root{
    --color-black-10: #212123;
    --color-black-20: #191919;
    --color-purple-10: #8B57C6;
    --color-purple-20: #6C3EB8;
    --color-light-10: #F6F6F7;
    --color-light-20: #B8B8B8;
    --color-gray-10: #576067;
    --color-gray-20: #616E74;

}