.sidebar{
    padding: 25px;
    background-color: var(--color-black-20);
    border-radius: 10px;
    min-width: 300px;
}
.list{
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    list-style: none;
    color: var(--color-gray-10);
    margin-top: 32px;
    font-size: 14px;
    font-weight: 500;

}
.link:hover{
    color: var(--color-purple-20);
}